<div class="container">
  <h1>Login Page</h1>
  <form method="POST" action="/login">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Enter your username"
        name="username"
      />
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input
        type="password"
        class="form-control"
        id="pwd"
        name="pwd"
        placeholder="Enter your password"
      />
    </div>
    {{#if isError}}
      <div class="alert alert-danger" role="alert">
        {{{error}}}
      </div>
    {{/if}}
    <button id="submitBtn" type="submit" class="btn btn-primary">Sign in</button>
  </form>
</div>